:root {
    --main-bg-color: #0d1117;
    --sec-bg-color: #1e2a3f;
    --main-fg-color: rgb(231, 230, 230);
    --sec-fg-color: rgb(201, 201, 201);
    --main-grid-rows: 3;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 8vh auto;

    font-family: Helvetica, sans-serif;
    color: var(--main-fg-color);

    width: 100vw;
    background-color: var(--main-bg-color);
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100vw;
    height: 100;
    background-color: var(--sec-bg-color);
}

#main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(var(--main-grid-rows), 1fr);
    gap: 3rem 1rem;
    justify-items: center;
    align-items: center;

    margin-top: 3rem;
}

.card {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;

    width: 300px;
    height: 400px;
    padding: 2rem 0.5rem 1rem 0.5rem;  

    
    background-color: var(--sec-fg-color);
    border-radius: 2rem;
}

.card:hover {
    transition: ease-in-out;
    transform: scale(1.01);
    box-shadow: 0 0 10px 20px black;
}

.card-text {
    justify-self: center;

    color: var(--sec-bg-color);
}

.title-author-span {
    text-align: center;
}

.card-title {

}

.card-author {

}

.card-pages {
    
}

.card-read {
    
}