:root {
    --main-bg-color: #0d1117;
    --sec-bg-color: #1e2a3f;
    --main-fg-color: rgb(221, 221, 221);
    --main-grid-rows: 3;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-rows: 8vh auto;

    font-family: Helvetica, sans-serif;
    color: var(--main-fg-color);

    width: 100vw;
    background-color: var(--main-bg-color);
}

#nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;

    min-width: 100vw;
    height: 100;
    background-color: var(--sec-bg-color);
}

#logo {
    grid-column-start: 2;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 3;

    width: 80px;
    height: 40px;

    font-size: 1.25rem;
    font-weight: bold;
    color: var(--main-bg-color);
    background-color: var(--main-fg-color);
    border-radius: 0.5rem;
}

.button:hover {
    transition: ease-in-out;
    transform: scale(1.05);
    cursor: pointer;
}

#main-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 3rem 1rem;
    justify-items: center;
    align-items: center;

    margin-top: 3rem;
}

.card {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;

    width: 300px;
    height: 400px;
    padding: 2rem 0.5rem 1rem 0.5rem;  

    
    background-color: var(--main-fg-color);
    border-radius: 2rem;
}

.card:hover {
    transition: ease-in-out;
    transform: scale(1.01);
    box-shadow: 0 0 10px 20px black;
}

.card-text {
    justify-self: center;

    color: var(--sec-bg-color);
}

.title-author-span {
    text-align: center;
}

#add-book-container {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    z-index: 99;
}

#add-book-box {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    justify-items: center;
    align-items: center;

    width: 600px;
    height: 800px;
    margin: 0 auto;
    margin-top: 10vh;

    font-size: 2rem;
    color: var(--sec-bg-color);
    background-color: var(--main-fg-color);
    z-index: 100;
}

.add-book-blur {
    filter: blur(1.5rem);
}

#add-book-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 2rem;

    font-size: 1.5rem;
}

#radio-buttons {
    display: flex;
    justify-content: space-evenly;
}

#add-book-button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;

    width: 80%;
    height: 100%;
}

.add-book-main-buttons {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 150px;
    height: 75px;

    border-radius: 1rem;
    color: var(--main-fg-color);
    background-color: var(--main-bg-color);
}

.add-book-main-buttons:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.hidden {
    display: none !important;
}